/*MOVIES STYLESHEET*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Anton', sans-serif;
}

.slidedown{
	animation-name: slidedown;
	-webkit-animation-name: slidedown;

	animation-duration: 10s;
	-webkit-animation-duration: 10s;

  animation-iteration-count: infinite;
	animation-direction: alternate;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slidedown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slidedown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

.movieSubmitButton {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-submit-movie-form {
  border-radius: 10px;
  height: 100px;
  width: 200px;
  background-color: rgba(255, 47, 0, 0.7);
  color: #fff;
  font-size: 20px;
  border: none;
}

.btn-submit-movie-form:hover {
  border-radius: 20px;
  height: 100px;
  width: 800px;
  background-color: rgba(0, 255, 8, 0.48);
  color: #fff;
}

.movieForm {
  margin-bottom: 300px;
}

.movie-title, .movie-information, label {
  color: red;
}

.movie-title {
  font-size: 70px;
  margin-bottom: 45px;
}

.movie-title:hover {
  color: yellow;
}

.movieContent {
  margin: 10px;
  width: 100%;
  color: white;
}

.movie-id>span {
  color: yellow;
}

.movie-id:hover>span {
  color: blue;
}

.movie-id:hover {
  color: yellow;
}

.movie-name {
  font-size: 61px;
  color: yellow;
}

.movie-name:hover {
  color: #fff;
}

.movie-description {
  font-size: 25px;
}


.movie-image {
  width: 600px;
}

@media only screen
  and (min-width: 300px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .movie-name {
      font-size: 30px;
      color: yellow;
    }
    .movie-description {
      font-size: 12px;
    }
    .movie-image {
      width: 300px;
      margin-right: 40px;
    }
}

.movie-description-textbox {
  width: 100%;
}

.movie-description:hover {
  color: #1E74F0;  /*light blue*/
}
