/*PLANETS STYLESHEET*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Anton', sans-serif;
}

.planetSubmitButton {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-submit-planet-form {
  border-radius: 10px;
  height: 100px;
  width: 200px;
  background-color: rgba(255, 47, 0, 0.7);
  color: #fff;
  font-size: 20px;
}

.btn-submit-planet-form:hover {
  border-radius: 20px;
  height: 100px;
  width: 800px;
  background-color: rgba(0, 255, 8, 0.48);
  color: #fff;
}

.planetForm {
  margin-bottom: 300px;
}

.planet-title, .planet-information, label {
  color: blue;
}

.planet-title {
  font-size: 70px;
  margin-bottom: 45px;
}

.planet-title:hover {
  color: yellow;
}

.planetContent {
  /*visibility: hidden !important;*/
  margin: 10px;
  width: 100%;
  color: blue;
}

.planet-image {
  width: 600px;
}

@media only screen
  and (min-width: 300px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .planet-image {
      width: 300px;
      margin-right: 40px;
    }
}

.planet-id>span, .planet-name>span, .planet-description>span{
  color: blue;
}

.planet-id, .planet-name, .planet-description {
  color: yellow;
}

.planet-id:hover, .planet-name:hover, .planet-description:hover {
  color: red;
}

.planet-description-textbox {
  width: 100%;
}
